<aside class="main-sidebar" style="padding-top:70px;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i> <span>TODO</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="{{ path('applocation_sonata_background_indexpage') }}"><i class="fa fa-circle-o"></i> Todo eummary</a></li>
                </ul>
            </li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>OFFER</span>
                    <span class="label label-primary pull-right"></span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('background_addOfferpage') }}"><i class="fa fa-circle-o"></i> Make offer</a></li>
                </ul>
            </li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>COURSES</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> Add course</a></li>
                    <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Running course</a></li>
                    <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Planned course</a></li>
                    <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Course completion</a></li>
                    <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Course archive</a></li>
                </ul>
            </li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>MANAGEMENT</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('applocation_sonata_background_Customerpage') }}"><i class="fa fa-circle-o"></i> Customer</a></li>
                    <li><a href="{{ path('applocation_sonata_background_Contactpersonspage') }}"><i class="fa fa-circle-o"></i> Conatctpersons</a></li>
                    <li><a href="{{ path('background_participantpage') }}"><i class="fa fa-circle-o"></i> Participants</a></li>
                    <li><a href="{{ path('background_coursepage') }}"><i class="fa fa-circle-o"></i> Course</a></li>
                    <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Course lessons</a></li>
                    <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Exarrs</a></li>
                    <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Locations</a></li>
                    <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Co-operatbrs</a></li>
                    <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Offers</a></li>
                </ul>
            </li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>DATA</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> imtport/redading</a></li>
                    <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Export/Printing</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>