<!-- header begin -->
{{ include('ApplocationSonataBackgroundBundle:Index:header.html.twig',{"title":"Add participant","url":path('background_addparticipantpage')}) }}
<!-- header end -->
<!-- Left side column. contains the logo and sidebar -->
{{ include('ApplocationSonataBackgroundBundle:Index:sidebar.html.twig') }}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->

                    <div class="box-body">
                        <div class="form-group col-sm-10">
                            <div class="col-sm-4">
                                <a class="btn btn-primary">Edit</a>
                            </div>
                            <div class="col-sm-4"><a href="{{ path('background_processingpage') }}" class="btn btn-default">  Processing  </a></div>

                        </div>
                        <div class="form-group col-sm-10">
                            <h3 class="box-title">Participant</h3></div>

                        <div class="form-group col-sm-10">
                            <label class="col-sm-3 control-label" for="">INITIALS  * </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" required="" placeholder=""/>

                            </div>
                        </div>

                        <div class="form-group col-sm-10">
                            <label class="col-sm-3 control-label" for="">SURNAME  * </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" required="" />

                            </div>
                        </div>
                        <div class="form-group col-sm-10">
                            <label class="col-sm-3 control-label" for="">ADDRESS</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" required="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-10">
                            <label class="col-sm-3 control-label" for="">ZIP CODE</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" required="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-10">
                            <label class="col-sm-3 control-label" for="">CITY</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" required="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-10">
                            <label class="col-sm-3 control-label" for="">TELEPHONE</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" required="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-10">
                        <div class="form-group col-sm-10">
                            <label class="col-sm-3 control-label" for="">E-mail</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" required="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-10">
                            <label class="col-sm-3 control-label" for="">JOB DESCRIPTION</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" required="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-10">
                            <label class="col-sm-3 control-label" for="">CUSTOMER</label>
                            <div class="col-sm-4">
                                <select id="provinceselect" class="form-control select2" onchange="javascript:getCtiyinfo(this.value)">
                                    <option value="" selected="selected">Select a customer</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-sm-10">
                            <h3 class="box-title">Extra</h3>
                        </div>
                        <div class="form-group col-sm-10">
                            <label class="col-sm-3 control-label" for="">DATE OF BIRTH</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask />
                            </div>
                        </div>
                        <div class="form-group col-sm-10">
                            <label class="col-sm-3 control-label" for="">PLACE OF BIRTH</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" required="" />
                            </div>
                        </div>

                        <div class="form-group col-sm-10">
                            <label class="col-sm-3 control-label" for="">ACTIVE </label>
                            <div class="col-sm-4">
                                <input type="checkbox" checked="checked" />

                            </div>
                        </div>

                        <div class="form-group col-sm-10">
                            <label class="col-sm-7 control-label" for=""> </label>
                            <div class="col-sm-5">

                                <button class="btn btn-info" type="submit">Save</button>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->

                <!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<!-- footer begin -->
{{ include('ApplocationSonataBackgroundBundle:Index:footer.html.twig') }}
<!-- InputMask -->
<script src="{{ asset('plugins/input-mask/jquery.inputmask.js')}}" type="text/javascript"></script>
<script src="{{ asset('plugins/input-mask/jquery.inputmask.date.extensions.js')}}" type="text/javascript"></script>
<script src="{{ asset('plugins/input-mask/jquery.inputmask.extensions.js')}}" type="text/javascript"></script>

<!-- footer end -->

<script>
    $(function () {
        //Add text editor
        $("#compose-textarea").wysihtml5();
        //Datemask dd/mm/yyyy
        $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
        //Money Euro
        $("[data-mask]").inputmask();
    });
</script>
</body>
</html>
