
<!-- header begin -->
{{ include('ApplocationSonataBackgroundBundle:Index:header.html.twig',{"title":"Add Customer","url":path("applocation_sonata_background_toaddCustomerpage")}) }}
<!-- header end -->
<!-- Left side column. contains the logo and sidebar -->
{{ include('ApplocationSonataBackgroundBundle:Index:sidebar.html.twig') }}


<!-- Content Wrapper. Contains page content -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content">
<div class="row">
<div class="col-xs-12">
<div class="box">
<div class="box-body">
    <div class="form-group col-sm-10">
        <div class="col-sm-4">
            <a href="{{ path('applocation_sonata_background_toaddCustomerpage') }}" class="btn btn-primary">Customer data</a>
        </div>
        <div class="col-sm-4"><a href="{{ path('applocation_sonata_background_toParticipantsCustomerpage') }}" class="btn btn-default">  Participants  </a></div>

    </div>
    <div class="form-group col-sm-10">
        <h3 class="box-title">Customer</h3></div>
    <div class="form-group col-sm-10">
        <label class="col-sm-4 control-label" for="">CUSTOMER  </label>
        <label class="col-sm-4 control-label" for="">Customer name </label>
    </div>
<table id="example2" class="table table-bordered table-hover">
<thead>
<tr>
    <th>Status</th>
    <th>Initials</th>
    <th>Surname</th>
    <th>Address</th>
    <th>E-mai</th>
    <th>Telephone</th>
    <th></th>
</tr>
</thead>

    <tbody>
    <tr>
        <td>Active</td>
        <td>Initials</td>
        <td> Surname</td>
        <td>Address, zip code, city</td>
        <td>Email</td>
        <td>Telephone</td>
        <td><button class="btn btn-info">Edit</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Initials</td>
        <td> Surname</td>
        <td>Address, zip code, city</td>
        <td>Email</td>
        <td>Telephone</td>
        <td><button class="btn btn-info">Edit</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Initials</td>
        <td> Surname</td>
        <td>Address, zip code, city</td>
        <td>Email</td>
        <td>Telephone</td>
        <td><button class="btn btn-info">Edit</button></td>
    </tr><tr>
        <td>Active</td>
        <td>Initials</td>
        <td> Surname</td>
        <td>Address, zip code, city</td>
        <td>Email</td>
        <td>Telephone</td>
        <td><button class="btn btn-info">Edit</button></td>
    </tr><tr>
        <td>Active</td>
        <td>Initials</td>
        <td> Surname</td>
        <td>Address, zip code, city</td>
        <td>Email</td>
        <td>Telephone</td>
        <td><button class="btn btn-info">Edit</button></td>
    </tr><tr>
        <td>Active</td>
        <td>Initials</td>
        <td> Surname</td>
        <td>Address, zip code, city</td>
        <td>Email</td>
        <td>Telephone</td>
        <td><button class="btn btn-info">Edit</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Initials</td>
        <td> Surname</td>
        <td>Address, zip code, city</td>
        <td>Email</td>
        <td>Telephone</td>
        <td><button class="btn btn-info">Edit</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Initials</td>
        <td> Surname</td>
        <td>Address, zip code, city</td>
        <td>Email</td>
        <td>Telephone</td>
        <td><button class="btn btn-info">Edit</button></td>
    </tr>



</tbody>
</table>
</div><!-- /.box-body -->
</div><!-- /.box -->

<!-- /.box -->
</div><!-- /.col -->
</div><!-- /.row -->
</section><!-- /.content -->
</div><!-- /.content-wrapper -->
<!-- footer begin -->
{{ include('ApplocationSonataBackgroundBundle:Index:footer.html.twig') }}
<!-- footer end -->
</body>
</html>
